// *THEME
$color-primary: hsl(14, 88%, 65%);
$color-secondary: hsl(273, 75%, 66%);
$color-tertiary: hsl(240, 73%, 65%);
$color-dark: hsl(238, 29%, 16%);

$color-border: hsl(240, 5%, 91%);

// * TEXT
$color-text-dark: hsl(237, 12%, 33%);
$color-text-light: hsl(240, 6%, 50%);

$font-size-body: 1.7rem;
$font-family: 'Kumbh Sans', Arial, Halvetica, sans-serif;

$font-wight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$line-height: 1.5;
